<!DOCTYPE html>
<html>
<head>
  <title>To Do List</title>
  <link rel = "stylesheet" href = "style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

  <script>
angular.module('ChecklistApp',['ui.router'])
.config(['$stateProvider','$urlRouterProvider',function($stateProvider,$urlRouterProvider){
	$stateProvider.state('home',{url:'/home',templateUrl:'/home.html',controller:'MainCtrl'})
	$urlRouterProvider.otherwise('home');
	}])
.factory('taskFactory',[function(){var o={tasks:[]};return o;}])
.controller('MainCtrl',['$scope','taskFactory',function($scope,taskFactory){$scope.test='Hello world!';
	$scope.tasks=taskFactory.tasks;$scope.addTask=function(){if($scope.formContent===''){return;}
	$scope.tasks.push({title:$scope.formContent,priority:1,complete:false});
	$scope.formContent='';};
	
$scope.removeCompleted=function(task){
	var oldList=$scope.tasks;
	$scope.tasks=[];
	angular.forEach(oldList,function(x){
		if(!x.complete){
			$scope.tasks.push(x);
		}}
	)};
}]);
</script>
</head>

<body ng-app="ChecklistApp">
<div>
<ui-view></ui-view>
</div>

<script type="text/ng-template" id="/home.html">
<div>
<h1 class="header">My Checklist</h1>
</div>

<div id="formdiv">
<form ng-submit="addTask()"
<h3>Add items to your checklist: </h3>

<div class="mainform" width="400px">
<input type="text" class="form-control" placeholder="New Item" ng-model="formContent" size="39.5">
</input>
                        
</div>
<button type="submit" id="add" class="button large blue">Add Item</button>
<button id="remove" class="button large" ng-click="removeCompleted()">Remove Tasks</button>
<form></br></br>
</div>

<div id="list"></br>
<div id="tasks" ng-repeat="task in tasks"> 
<input id="checker" type="checkbox" ng-model="task.complete">
<strong>{{task.title}}</strong>
</div></br></div>
</br>


</script>

</body>
</body>
